
@{
    ViewBag.Title = "Index";
}

<!--Contenido-->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!--header -->
            <div class="box-header with-border">
                <h1 class="box-title">
                    Tipo Usuario                    
                </h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-primary" onclick="Agregar()" id="btnAgregar">
                        <i class="fa fa-plus-circle"></i> Agregar
                    </button>
                </div>
            </div>
            <!-- Fin header -->
            <!-- body -->
            <div class="panel-body table-responsive" id="secc_lista">
                <div class="card-box">
                    <table id="Lista_TipoUsuario" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="panel-body" id="secc_add" style="display:none;">
                <input type="text" id="id" value="" hidden />
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Nombre *</label>
                    <input type="text" class="form-control" name="TipoUsuario" id="txt_Nombre" maxlength="100" required>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-primary" type="submit" id="btnGuardar" onclick="Guardar()">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-default" onclick="Cancelar()" type="button">
                        <i class="fa fa-arrow-circle-left"></i> Cancelar
                    </button>
                </div>
            </div>
            <!--Fin body -->
        </div><!-- /.box -->
        <!-- Modal Eliminar -->
        <div class="modal fade" id="Form_DeleteTipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="mensaje_modal">Eliminar TipoUsuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <form role="form" data-toggle="validator">
                            <h4 id="lbl_msjborrar"></h4>
                            <span id="txt_idborrar" style="display:none;"></span>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="Eliminar(); return false;"><i class="fa fa-check" aria-hidden="true"></i> SÍ</button>
                        <button class="btn btn-danger" onclick="Cancelar()" ; return false;" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> NO</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.col -->
</div><!-- /.row -->
<!--Fin-Contenido-->

<script>

    $(document).ready(function () {
        $('#Lista_TipoUsuario').DataTable();
        //Cargar_TipoUsuario();
    });

    function Cargar_TipoUsuario() {
        $('#Lista_TipoUsuario').DataTable({
            destroy: true,
            searching: true,
            "ajax": {
                "url": "/TipoUsuario/GetTipoUsuario/",
                "type": "GET"
            },
            "columns": [
                { "defaultContent": "<i>..</i>" },
                { "data": "id_tipo_usuario" },
                { "data": "nombre" },
            ],
            "columnDefs": [
                {
                    "targets": 0, "data": "id_tipo_usuario", "render": function (data, type, full, meta) {
                        return "<button type='button' title='Editar' id='btn_mas" + data + "' class='btn btn-warning' onclick='Editar(" + data + ")'  ><i class='fa fa-edit'></i></button>  <button type='button' title='Eliminar' id='btn_borrar" + data + "' class='btn btn-danger' onclick='Confirma_Eliminar(" + data + ")'><i class='fa fa-trash'></i></button> "
                    }
                }]
        });
    }

    function Agregar() {
        $("#secc_lista").hide();
        $("#secc_add").show();
        $("#btnAgregar").hide();
        Limpiar();
    }

    function Cancelar() {
        $("#secc_lista").show();
        $("#btnAgregar").show();
        $("#secc_add").hide();
    }

    function Limpiar() {
        $("#id").val("");
        $("#txt_Nombre").val("");
    }

    function Editar(id_tipo_usuario) {
        $.ajax({
            url: "/TipoUsuario/GetTipoUsuario/",
            async: true,
            dataType: "json",
            data: '{ id:' + id_tipo_usuario + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                Limpiar();
                $("#secc_lista").hide();
                $("#secc_add").show();
                $("#btnAgregar").hide();
                $("#id").val(id_tipo_usuario);
                $("#txt_Nombre").val(data.data.nombre);
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Guardar() {
        TipoUsuario = {
            "id_tipo_usuario": $("#id").val() == "" ? 0 : $("#id").val(),
            "nombre": $("#txt_Nombre").val(),
        };
        $.ajax(
        {
            url: "/TipoUsuario/Guardar/",
            async: true,
            dataType: "json",
            data: JSON.stringify(TipoUsuario),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                swal({ title: "TipoUsuario", text: "Guardada Correctamente", type: "success" }, function () { Cargar_TipoUsuario(); Cancelar(); });
            },
            error: function (request, status, error) {
                swal("Error al Guardar la Usuario");
                console.log("error" + error);
            }
        });
    }

    function Confirma_Eliminar(id_tipo_usuario) {
        $('#Form_DeleteTipo').modal('show');
        $("#lbl_msjborrar").html("Se va a eliminar el TipoUsuario No. " + id_tipo_usuario + ". <br/>¿Desea Continuar?");
        $("#txt_idborrar").text(id_tipo_usuario);
    }

    function Eliminar() {
        id_tipo_usuario = $("#txt_idborrar").text();
        $.ajax({
            url: "/TipoUsuario/Eliminar/",
            async: true,
            dataType: "json",
            data: '{id:' + id_tipo_usuario + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#Form_DeleteTipo').modal('hide');
                swal({ title: "TipoUsuario", text: "Se elimino Correctamente", type: "success" }, function () { Cargar_TipoUsuario(); });
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

</script>

