
@{
    ViewBag.Title = "IndexMesaAyuda";
}


<ol class="breadcrumb">
    <li><a class="box-title"><i class="fa fa-ticket"></i>Tickets</a></li>
    <li class="active">Mesa de Ayuda</li>
    <li class="pull-right">
        <a id="btnAgregar" onclick="Agregar()" style="color:#000">Registro de Ticket</a>
    </li>
</ol>
<!--Contenido-->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!--header -->
            <div class="box-header with-border">
                <h1 class="box-title" id="titulovista">
                    Tickets
                </h1>
                <div class="box-tools pull-right">

                </div>
            </div>
            <!-- Fin header -->
            <!-- body -->
            <div class="panel-body table-responsive" id="secc_lista">
                <div class="card-box">
                    <table id="Lista_Tickets" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Sucursal</th>
                                <th>Supervisor</th>
                                <th>Nombre</th>                                
                                <th>Asunto</th>
                                <th>Agente</th>
                                <th>Prioridad</th>
                                <th>Estado</th>
                                <th>Fecha y Hora</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="panel-body" id="secc_add" style="display:none;">
                <input type="text" id="id" value="" hidden />
                <input type="text" id="id_detalle_ticket" value="" hidden />
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Solicitante <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Solicitantes" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Area <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Areas" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <label>Asunto <span class="description-percentage text-red">*</span></label>
                    <input type="text" class="form-control" id="txt_Asunto" placeholder="Asunto del Tiket">
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Tipo Soporte <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_TiposSoporte" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Prioridad <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Prioridades" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Estado <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Estados" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Agente <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Agentes" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <label>Descripcion <span class="description-percentage text-red">*</span></label>
                    <textarea id="txt_Descripcion" class="form-control" rows="10" placeholder="Describe el Problema"></textarea>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-primary" type="submit" id="btnGuardar" onclick="Guardar()">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <div class="btn btn-primary btn-file">
                        <i class="fa fa-paperclip"></i> Adjuntar foto
                        <input type="file" id="subirImagen" name="attachment" onchange="ConvertirImagen()">
                    </div>
                    <button class="btn btn-default" onclick="Cancelar()" type="button">
                        <i class="fa fa-arrow-circle-left"></i> Cancelar
                    </button>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p id="imgBase64" style="display:none" ></p>
                    <img src="" alt="" id="imagen" width="30%;" height="30%;" /><br />
                </div>
            </div>
            <!--Fin body -->
        </div><!-- /.box -->
        <!-- Modal Eliminar -->
        <div class="modal fade" id="Form_DeleteTipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="mensaje_modal">Eliminar Ticket</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <form role="form" data-toggle="validator">
                            <h4 id="lbl_msjborrar"></h4>
                            <span id="txt_idborrar" style="display:none;"></span>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="Eliminar(); return false;"><i class="fa fa-check" aria-hidden="true"></i> SÍ</button>
                        <button class="btn btn-danger" onclick="Cancelar()" ; return false;" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> NO</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.col -->
</div><!-- /.row -->
<!--Fin-Contenido-->


<script>

    $(document).ready(function () {
        $('#Lista_Tickets').DataTable();
        Cargar_Tickets();
    });


    function Cargar_Tickets() {
        $('#Lista_Tickets').DataTable({
            destroy: true,
            searching: true,
            "ajax": {
                "url": "/Tickets/GetTickets/",
                "type": "GET"
            },
            "columns": [
                { "defaultContent": "<i>..</i>" },      
                { "data": "sucursal" },
                { "data": "foto_usuario", "render": function ( data, type, row ) {
                    return "<img class='img-circle img-bordered-sm' width='50' height='50' src='" + data + "'>";
                }},
                { "data": "usuario" },                
                { "data": "asunto" },
                { "data": "agente","render": function (data,type,row){
                    if (data == "Sin Asignar") {
                        return '<span class="label label-danger">' + data + '</span>';
                    }
                    else
                    {
                       return data;
                    }
                } },
                { "data": "prioridad","render": function(data, type, row) {
                    if(data === 'Baja'){
                        return '<span class="label label-info">'+data+'</span>';
                    }else if(data === 'Media'){
                        return '<span class="label label-warning">'+data+'</span>';
                    }else if(data === 'Alta'){
                        return '<span class="label label-success">'+data+'</span>';
                    }else if(data === 'Urgente'){
                        return '<span class="label label-danger">'+data+'</span>';
                    }
                } },
                { "data": "estado","render": function ( data, type, row ) {
                    if(data === 'Abierto'){
                        return '<span class="label label-warning">'+data+'</span>';
                    }else if(data === 'Pendiente'){
                        return '<span class="label label-default">'+data+'</span>';
                    }else if(data === 'Resuelto'){
                        return '<span class="label label-success">'+data+'</span>';
                    }else if(data === 'Cancelado'){
                        return '<span class="label label-danger">'+data+'</span>';
                    }else if(data === 'Cerrado'){
                        return '<span class="label label-primary">'+data+'</span>';
                    }else if(data === 'En Proceso'){
                        return '<span class="label label-info">'+data+'</span>';
                    }else{
                        return '<span class="label label-info">'+data+'</span>';
                    }
                }},
                { "data": "fechahora_creacion" },

            ],
            "columnDefs": [
                {
                    "targets": 0, "data": "id_ticket", "render": function (data, type, full, meta) {
                        return "<button type='button' title='Editar' id='btn_mas" + data + "' class='btn btn-primary' onclick='Editar(" + data + ")'  ><i class='fa fa-edit'></i></button> <button type='button' title='Seguimiento' id='btn_mas" + data + "' class='btn btn-primary' onclick='Seguimiento(" + data + ")'  ><i class='fa fa-tags'></i></button> "
                    }
                }
            ]
        });
    }

    function Agregar() {
        $("#secc_lista").hide();
        $("#secc_add").show();
        $("#btnAgregar").hide();
        Limpiar();
        $("#titulovista").text("Crear Ticket");
        Cargar_Solicitantes();
        Cargar_Areas();
        Cargar_TiposSoporte();
        Cargar_Prioridades();
        Cargar_Estados();
        Cargar_Agentes();
    }

    function Cargar_Solicitantes() {

        $("#ddl_Solicitantes").html("");

        $.ajax({
            url: "/Usuarios/GetSupervisores/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Solicitantes").append("<option value='" + Item.id_usuario + "'>" + Item.nombre_completo + "</option>");
                });
                $('#ddl_Solicitantes').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_TiposSoporte() {

        $("#ddl_TiposSoporte").html("");

        $.ajax({
            url: "/TipoSoporte/GetTipoSoportes/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_TiposSoporte").append("<option value='" + Item.id_tipo_soporte + "'>" + Item.descripcion + "</option>");
                });
                $('#ddl_TiposSoporte').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Areas() {

        $("#ddl_Areas").html("");

        $.ajax({
            url: "/Areas/GetAreas/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Areas").append("<option value='" + Item.id_area + "'>" + Item.nombre + "</option>");
                });
                $('#ddl_Areas').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Prioridades() {

        $("#ddl_Prioridades").html("");

        $.ajax({
            url: "/Prioridad/GetPrioridades/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Prioridades").append("<option value='" + Item.id_prioridad + "'>" + Item.nombre + "</option>");
                });
                $('#ddl_Prioridades').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Estados() {

        $("#ddl_Estados").html("");

        $.ajax({
            url: "/Estados/GetEstados/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Estados").append("<option value='" + Item.id_estado + "'>" + Item.nombre + "</option>");
                });
                $('#ddl_Estados').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Agentes() {

        $("#ddl_Agentes").html("");

        $.ajax({
            url: "/Usuarios/GetAgentes/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Agentes").append("<option value='" + Item.id_usuario + "'>" + Item.nombre_completo + "</option>");
                });
                $('#ddl_Agentes').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cancelar() {
        $("#titulovista").text("Tickets");
        $("#secc_lista").show();
        $("#btnAgregar").show();
        $("#secc_add").hide();
    }

    function Limpiar() {
        $("#id").val("");
        $("#id_detalle_ticket").val("");        
        $("#ddl_Solicitantes").html();
        $("#ddl_Areas").html();        
        $("#txt_Asunto").val("");        
        $("#ddl_TiposSoporte").html();
        $("#ddl_Prioridades").html();
        $("#ddl_Estados").html();
        $("#ddl_Agentes").html("");
        $("#txt_Descripcion").val("");
        $('#imagen').attr('src', '');
    }

    function ConvertirImagen() {
        var archivoImagen = document.getElementById("subirImagen").files;
        if (archivoImagen.length > 0) {
            var archivoCargar = archivoImagen[0];
            var archivoLeer = new FileReader();

            archivoLeer.onload = function (eventoCargarArchivo) {
                var srcData = eventoCargarArchivo.target.result; //Imagen base64
                //alert(srcData);
                var Logo = srcData.split(',')[1];
                //alert(Logo)
                document.getElementById("imagen").src = srcData;
                document.getElementById("imgBase64").textContent = Logo;

            }
            archivoLeer.readAsDataURL(archivoCargar);
        }
    }

    function Seguimiento(id_ticket) {        
        window.location = "/Tickets/SeguimientoMesaAyuda?id_ticket=" + id_ticket;
    }

    function Editar(id_tiket) {
        $.ajax({
            url: "/Tickets/GetTicket/",
            async: true,
            dataType: "json",
            data: '{ id:' + id_tiket + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                Limpiar();
                $("#titulovista").text("Editar Ticket");
                $("#secc_lista").hide();
                $("#secc_add").show();
                $("#btnAgregar").hide();
                $("#id").val(id_tiket);
                $("#id_detalle_ticket").val(data.data.id_detalle_ticket);
                $("#txt_Asunto").val(data.data.asunto);
                $("#txt_Descripcion").val(data.data.descripcion);
                Cargar_Solicitantes();
                $("#ddl_Solicitantes").append("<option value=" + data.data.id_usuario + ">" + data.data.usuario + "</option>");
                $("#ddl_Solicitantes").selectpicker('refresh');
                Cargar_Areas();
                $("#ddl_Areas").append("<option value=" + data.data.id_area + ">" + data.data.area + "</option>");
                $("#ddl_Areas").selectpicker('refresh');
                Cargar_TiposSoporte();
                $("#ddl_TiposSoporte").append("<option value=" + data.data.id_tipo_soporte + ">" + data.data.tipo_soporte + "</option>");
                $("#ddl_TiposSoporte").selectpicker('refresh');
                Cargar_Prioridades();
                $("#ddl_Prioridades").append("<option value=" + data.data.id_prioridad + ">" + data.data.prioridad + "</option>");
                $("#ddl_Prioridades").selectpicker('refresh');
                Cargar_Estados();
                $("#ddl_Estados").append("<option value=" + data.data.id_estado + ">" + data.data.estado + "</option>");
                $("#ddl_Estados").selectpicker('refresh');
                Cargar_Agentes();
                $("#ddl_Agentes").append("<option value=" + data.data.id_agente + ">" + data.data.agente + "</option>");               
                $("#ddl_Agentes").selectpicker('refresh');                
                $("#imgBase64").text(data.data.imagen)
                if (data.data.imagen != "") {                    
                    $('#imagen').attr('src', 'data:image/png;base64,' + data.data.imagen);
                }
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Guardar() {
        if($("#ddl_Solicitantes").val() != "" && $("#ddl_Areas").val() != "" && $("#ddl_Areas").val() != "" && $("#ddl_TiposSoporte").val()!= "" && $("#txt_Asunto").val() != "" &&  $("#txt_Descripcion").val() != "")
        {
            Ticket = {
                "id_ticket": $("#id").val() == "" ? 0 : $("#id").val(),
                "id_detalle_ticket": $("#id_detalle_ticket").val() == "" ? 0 : $("#id_detalle_ticket").val(),
                "id_usuario": $("#ddl_Solicitantes").val(),
                "id_area": $("#ddl_Areas").val(),
                "asunto": $("#txt_Asunto").val(),
                "id_prioridad": $("#ddl_Prioridades").val(),
                "id_estado": $("#ddl_Estados").val(),
                "id_agente":$("#ddl_Agentes").val(),
                "descripcion": $("#txt_Descripcion").val(),
                "imagen": $("#imgBase64").text(),
                "id_tipo_soporte":$("#ddl_TiposSoporte").val(),
            };
            $.ajax(
            {
                url: "/Tickets/Guardar_EnMA/",
                async: true,
                dataType: "json",
                data: JSON.stringify(Ticket),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    swal({ title: "Tickets", text: "Guardada Correctamente", type: "success" }, function () { Cargar_Tickets(); Cancelar(); });
                },
                error: function (request, status, error) {
                    swal("Error al Guardar el Ticket");
                    console.log("error" + error);
                }
            });
        }
        else
        {
            swal({ title: "Ticket", text: "Introduzca los datos requeridos (*)", type: "warning" }, function () { });
        }
    }

    //function Confirma_Eliminar(id_ticket) {
    //    $('#Form_DeleteTipo').modal('show');
    //    $("#lbl_msjborrar").html("Se va a eliminar el Ticket No. " + id_ticket + ". <br/>¿Desea Continuar?");
    //    $("#txt_idborrar").text(id_ticket);
    //}

    //function Eliminar() {
    //    id_ticket = $("#txt_idborrar").text();
    //    $.ajax({
    //        url: "/Tickets/Eliminar/",
    //        async: true,
    //        dataType: "json",
    //        data: '{id:' + id_ticket + '}',
    //        type: "POST",
    //        contentType: "application/json; charset=utf-8",
    //        success: function (data) {
    //            $('#Form_DeleteTipo').modal('hide');
    //            swal({ title: "Tickets", text: "Se elimino Correctamente", type: "success" }, function () { Cargar_Tickets(); });
    //        },
    //        error: function (request, status, error) {
    //            console.log("error" + error);
    //        }
    //    });
    //}

</script>




