
@{
    ViewBag.Title = "SeguimientoMesaAyuda";
}


<ol class="breadcrumb">
    <li><a><i class="fa fa-ticket"></i> Tickets</a></li>
    <li class="active"><a href='@Url.Action("IndexMesaAyuda", "Tickets")'>Mesa Ayuda</a></li>
    <li class="active">Seguimiento</li>
</ol>

<input type="text" id="id" value="" hidden />
<input type="text" id="id_detalle_ticket" value="" hidden />
<div class="row">
    <div class="col-md-3">
        <!-- Box Ticket-->
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-ticket margin-r-5"></i>
                <h3 class="box-title" id="asunto_ticket"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong id="descripcion_ticket"></strong>
                <p class="text-muted" id="fecha_ticket">
                </p>
                <hr>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Estado <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Estados" required data-live-search="true"></select>
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Prioridad <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Prioridades" required data-live-search="true"></select>
                    </div>
                </div>                
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Agente <span class="description-percentage text-red">*</span></label>
                    <div>
                        <select class="form-control selectpicker" id="ddl_Agentes" required data-live-search="true"></select>
                    </div>
                </div>
                
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" type="submit" id="btnEditar" onclick="ActualizarTicket()">
                        <i class="fa fa-save"></i> Actualizar
                    </button>                    
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- Profile Supervisor -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <p class="text-muted text-center">Solicitante</p>
                <img class="profile-user-img img-responsive img-circle" id="foto_solicitante">
                <h3 class="profile-username text-center" id="nombre_solicitante"></h3>
                <center><p class="text-muted" id="sucursal"></p></center>                
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->       
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab">Seguimiento</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <!-- Post Comentarios-->
                    <div class="post" id="seguimiento">
                    </div>
                    <!-- /.post -->
                    <!-- Post Responder -->
                    <div class="post clearfix">
                        <div class="form-horizontal">
                            <div class="form-group margin-bottom-none">
                                <div class="col-sm-10">
                                    <textarea id="txt_Respuesta" class="form-control" rows="5" placeholder="Responder" required></textarea>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <p id="imgBase64" style="display: none;"></p>
                                        <img src="" alt="" id="imagen" width="170" height="100" class="fa-border" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary" onclick="Guardar()">
                                        <i class="fa fa-save"></i>
                                        Enviar
                                    </button>
                                </div>
                            </li>
                            <li class="pull-right" style="padding-right:20px;">
                                <a href="#" class="link-black text-sm">
                                    <div class="btn btn-primary btn-file">
                                        <i class="fa fa-paperclip"></i> Adjuntar foto
                                        <input type="file" id="subirImagen" name="attachment" onchange="ConvertirImagen()">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.post -->
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="modal fade" id="Modal_Evidencia">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Foto de Evidencia</h4>
            </div>
            <div class="modal-body">
                <img src="" alt="" id="imgevidencia" width="100%" height="100%" class="fa-border" />                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->   
<script>
    $(document).ready(function () {
        var id_ticket = ($_GET("id_ticket"));        
        Detalle_Ticket(id_ticket);
    });

    function $_GET(param) {
        url = document.URL;
        url = String(url.match(/\?+.+/));
        url = url.replace("?", "");
        url = url.split("&");
        x = 0;
        while (x < url.length) {
            p = url[x].split("=");
            if (p[0] == param) {
                return decodeURIComponent(p[1]);
            }
            x++;
        }
    }

    function Cargar_Prioridades() {

        $("#ddl_Prioridades").html("");

        $.ajax({
            url: "/Prioridad/GetPrioridades/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Prioridades").append("<option value='" + Item.id_prioridad + "'>" + Item.nombre + "</option>");
                });
                $('#ddl_Prioridades').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Estados() {

        $("#ddl_Estados").html("");

        $.ajax({
            url: "/Estados/GetEstados/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Estados").append("<option value='" + Item.id_estado + "'>" + Item.nombre + "</option>");
                });
                $('#ddl_Estados').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Cargar_Agentes() {

        $("#ddl_Agentes").html("");

        $.ajax({
            url: "/Usuarios/GetAgentes/",
            async: true,
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data.data, function (i, Item) {
                    $("#ddl_Agentes").append("<option value='" + Item.id_usuario + "'>" + Item.nombre_completo + "</option>");
                });
                $('#ddl_Agentes').selectpicker('refresh');
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    //OBTENER DETALLE DEL TICKET
    function Detalle_Ticket(id_ticket)
    {
        $.ajax({
            url: "/Tickets/GetTicket/",
            async: true,
            dataType: "json",
            data: '{ id:' + id_ticket + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                Limpiar();
                $("#id").val(id_ticket);
                $("#id_detalle_ticket").val(data.data.id_detalle_ticket);
                $("#asunto_ticket").text(data.data.asunto);
                $("#descripcion_ticket").text(data.data.descripcion);
                $("#fecha_ticket").text("Creado el "+ data.data.fechahora_creacion);
                $("#estado_ticket").text(data.data.estado);

                $("#nombre_solicitante").text(data.data.usuario);

                if (data.data.foto_usuario != "") {
                    $('#foto_solicitante').attr('src', data.data.foto_usuario);
                }
                $("#sucursal").text(data.data.sucursal);

                Cargar_Prioridades();
                $("#ddl_Prioridades").append("<option value=" + data.data.id_prioridad + ">" + data.data.prioridad + "</option>");
                $("#ddl_Prioridades").selectpicker('refresh');
                Cargar_Estados();
                $("#ddl_Estados").append("<option value=" + data.data.id_estado + ">" + data.data.estado + "</option>");
                $("#ddl_Estados").selectpicker('refresh');
                Cargar_Agentes();
                $("#ddl_Agentes").append("<option value=" + data.data.id_agente + ">" + data.data.agente + "</option>");               
                $("#ddl_Agentes").selectpicker('refresh');   
                

                ObtenerComentarios(data.data.id_detalle_ticket);
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function ActualizarTicket() {        
            Ticket = {
                "id_ticket": $("#id").val() == "" ? 0 : $("#id").val(),
                "id_detalle_ticket": $("#id_detalle_ticket").val() == "" ? 0 : $("#id_detalle_ticket").val(),
                
                "id_prioridad": $("#ddl_Prioridades").val(),
                "id_estado": $("#ddl_Estados").val(),
                "id_agente":$("#ddl_Agentes").val(),
                
            };
            $.ajax(
            {
                url: "/Tickets/ActualizarPorMA/",
                async: true,
                dataType: "json",
                data: JSON.stringify(Ticket),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    swal({ title: "Tickets", text: "Actualizado Correctamente", type: "success" }, function () { });
                },
                error: function (request, status, error) {
                    swal("Error al Actualizar el Ticket");
                    console.log("error" + error);
                }
            });        
    }

    // OBTENER COMENTARIOS
    function ObtenerComentarios(id_detalle_ticket) {
        $.ajax({
            url: "/Tickets/GetComentarioPorDetalle/",
            async: true,
            dataType: "json",
            data: '{ id:' + id_detalle_ticket + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if(data.data.length>0)
                {
                    Visualizar_Comentarios(data);
                }
            },
            error: function (request, status, error) {
                console.log("error" + error);
            }
        });
    }

    function Visualizar_Comentarios(data) {
        var evidencia="";
        try {
            $.each(data.data, function (i, entComentario) {
                if(entComentario.imagen!=null)
                {
                    evidencia = "<a class='btn btn-primary btn-xs' onclick='Ver_Evidencia(\""+ entComentario.imagen +"\")'>Ver evidencia</a>";
                }
                else{
                    evidencia="";
                }
                comentario = "<ul class='timeline timeline-inverse'>" +
                                "<li>" +
                                    "<img class='img-circle img-bordered-sm' width='50' height='50' src='" + entComentario.foto + "'>" +
                                    "<div class='timeline-item'>" +
                                        "<span class='time'><i class='fa fa-clock-o'></i> " + entComentario.fechahora_comentario + "</span>" +
                                        "<h3 class='timeline-header'><a href='#'>" + entComentario.tipo_usuario + "</a> " + entComentario.usuario + "</h3>" +
                                        "<div class='timeline-body'>" +
                                            entComentario.comentario +
                                        "</div>" +
                                        "<div class='timeline-footer'>" +                                            
                                            evidencia                                             
                                        "</div>" +
                                    "</div>" +
                                "</li>" +
                            "</ul>"
                $("#seguimiento").append(comentario);
            });

        }
        catch (err) {
            mostrar_aviso("error", "Error al procesar los comentarios");
        }
    }

    function Ver_Evidencia(imagen) {        
        $('#imgevidencia').attr('src', 'data:image/png;base64,' + imagen);
        $('#Modal_Evidencia').modal('show');        
    }

    function Limpiar() {
        $("#id").val("");
        $("#id_detalle_ticket").val("");
        $("#asunto_ticket").text("");
        $("#descripcion_ticket").text("");
        $("#fecha_ticket").text("");
        $("#estado_ticket").text("");
        $("#nombre_agente").text("");
        $('#foto_agente').attr("");
    }

    function Guardar() {

        if($("#txt_Respuesta").val() != "")
        {
            Comentario = {
                "comentario": $("#txt_Respuesta").val(),
                "id_detalle_ticket": $("#id_detalle_ticket").val(),
                "imagen": $("#imgBase64").text(),
                "id_usuario": @Session["id_usuario"],
            };
            $.ajax(
            {
                url: "/Tickets/GuardarComentario/",
                async: true,
                dataType: "json",
                data: JSON.stringify(Comentario),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var id_detalle_ticket=$("#id_detalle_ticket").val();
                    swal({ title: "Comentarios", text: "Guardada Correctamente", type: "success" }, function () { LimpiarComentarios(); ObtenerComentarios(id_detalle_ticket); });
                },
                error: function (request, status, error) {
                    swal("Error al Guardar el Ticket");
                    console.log("error" + error);
                }
            });
        }
        else
        {
            swal({ title: "Comentarios", text: "Introduzca el comentario", type: "warning" }, function () { });
        }
    }

    function LimpiarComentarios() {
        $("#seguimiento").html("");
        $("#txt_Respuesta").val("");
        $('#imagen').attr('src', '');
    }

    function ConvertirImagen() {
        var archivoImagen = document.getElementById("subirImagen").files;
        if (archivoImagen.length > 0) {
            var archivoCargar = archivoImagen[0];
            var archivoLeer = new FileReader();

            archivoLeer.onload = function (eventoCargarArchivo) {
                var srcData = eventoCargarArchivo.target.result; //Imagen base64
                //alert(srcData);
                var Logo = srcData.split(',')[1];
                //alert(Logo)
                document.getElementById("imagen").src = srcData;
                document.getElementById("imgBase64").textContent = Logo;

            }
            archivoLeer.readAsDataURL(archivoCargar);
        }
    }


</script>
