@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                Titulos
            </div>
            <!-- /.box-header -->
            <!-- centro -->
            <div class="panel-body table-responsive" style="height: 400px;" id="listadoregistros">
                Contenido
            </div>
            <!--Fin centro -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->