
@{
    ViewBag.Title = "Index";
}


<section class="content-header">
    <h1>
        Resumen de Tickets
        @*<small>Version 2.0</small>*@
    </h1>
    <ol class="breadcrumb">
        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>*@
    </ol>
</section>
<br />
<div class="row">
    <div class="col-md-12">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 class="ending">0</h3>
                        <p>Vencidos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3 class="open">0</h3>
                        <p>Abiertos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 class="now">0</h3>
                        <p>Vence hoy</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 class="process">0</h3>
                        <p>En proceso</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 class="unassigned">0</h3>
                        <p>Sin asignar</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Otro Indicador</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ver <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->


        <div class="row">
            <div class="col-md-12">
                <!-- PRODUCT LIST -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tickets de Prioridad Alta</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="priority products-list product-list-in-box">                           
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    @*<div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">Visualizar todas las actividades</a>
                        </div>*@
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>


<div class="row">
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue-active">
                <h3 class="widget-user-username">Estefany Contrera</h3>
                <h5 class="widget-user-desc">Agente en Soporte Técnico</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">2</h5>
                            <span class="description-text">Asignados</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">1</h5>
                            <span class="description-text">En Proceso</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">0</h5>
                            <span class="description-text">Cerrado</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue-active">
                <h3 class="widget-user-username">Vanesa Hernandez</h3>
                <h5 class="widget-user-desc">Agente de Redes</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/dist/img/user4-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">4</h5>
                            <span class="description-text">Asignados</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">3</h5>
                            <span class="description-text">En Proceso</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">4</h5>
                            <span class="description-text">Cerrado</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue-active">
                <h3 class="widget-user-username">Carolina Mendez</h3>
                <h5 class="widget-user-desc">Agente de Seguridad</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/dist/img/user5-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">4</h5>
                            <span class="description-text">Asignados</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">1</h5>
                            <span class="description-text">En Proceso</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">1</h5>
                            <span class="description-text">Cerrado</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue-active">
                <h3 class="widget-user-username">Cindy Montiel</h3>
                <h5 class="widget-user-desc">Agente de Sistemas</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/dist/img/user7-128x128.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">0</h5>
                            <span class="description-text">Asignados</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">1</h5>
                            <span class="description-text">En Proceso</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">4</h5>
                            <span class="description-text">Cerrado</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>

@*<div class="row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-light-blue-active">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Nadia Carmichael</h3>
                    <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-light-blue-active">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Nadia Carmichael</h3>
                    <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-light-blue-active">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Nadia Carmichael</h3>
                    <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-light-blue-active">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Nadia Carmichael</h3>
                    <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@

        <div class="row">
            <div class="col-md-12">
                <!-- PRODUCT LIST -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Agentes</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/img/IconUser.png" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Daniel
                                        <span class="label label-primary pull-right">4 Tickets Asignados</span>
                                    </a>
                                    <span class="product-description">
                                        Detalle del Agente
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/img/IconUser.png" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Alvarado
                                        <span class="label label-danger pull-right">0 Tickets Asignados</span>
                                    </a>
                                    <span class="product-description">
                                        Detalle del Agente
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/img/IconUser.png" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Luis <span class="label label-primary pull-right">2 Tickets Asignados</span>
                                    </a>
                                    <span class="product-description">
                                        Detalle del Agente
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/Content/img/IconUser.png" alt="Product Image">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Sergio
                                        <span class="label label-primary pull-right">5 Tickets Asignados</span>
                                    </a>
                                    <span class="product-description">
                                        Detalle del Agente
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    @*<div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">Visualizar todas las actividades</a>
                        </div>*@
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>



<script type="text/javascript">
    $(document).ready(function () {
        updateEstatosCount();
        GetPrioridadTickets();
    });

    // update  count tickets
    function updateEstatosCount() {        
        $.ajax({
            cache: false,
            destroy: true,
            searching: true,
            dataType: "json",
            url: '/Tickets/GetEstadosTickets/',
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            success: function (datos) {
                console.log(datos.data);
                
                $('h3.ending').html(datos.data.vencidos);
                $('h3.open').html(datos.data.abiertos);
                $('h3.process').html(datos.data.en_proceso);
                $('h3.unassigned').html(datos.data.sin_asignar);
                $('h3.now').html(datos.data.vence_hoy);
            },
            error: function (error) {
                console.log(error);
            }
        })

    }
    // update  count tickets
    function GetPrioridadTickets() {        
        $.ajax({
            cache: false,
            destroy: true,
            searching: true,
            dataType: "json",
            url: '/Tickets/GetTicketPrioridad/',
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            success: function (datos) {
                $('ul.priority').empty();
                $.each(datos.data, function (index, value) {
                    $('ul.priority').append($(
                       '<li class="item">'+
                            '<div class="product-img">'+
                                '<img src="../Content/img/Ticket.png" alt="Product Image">'+
                            '</div>'+
                            '<div class="product-info">'+
                                '<a href="javascript:void(0)" class="product-title">' + datos.data[index].sucursal + ' - '+ datos.data[index].usuario +' '+
                                    '<span class="label label-danger pull-right">'+ datos.data[index].no_tickets +' Tickets </span>'+
                                '</a>'+
                                '<span class="product-description"> Detalle del Ticket </span>'+
                            '</div>'+
                        '</li>')
                    );
                });
                },
                    error: function (error) {
                    console.log(error);
                }
                })

    }
</script>